<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/registro.css">
    <link rel="stylesheet" href="/alerts.css">
    <title>Registro</title>
</head>

<body>

    <header class="header">
        <p class="titulo">
            Pagina de registro
        </p>
    </header>

    <div id="todo">

    

    <form id="cuerpo" action="/registrar" method="POST" enctype="multipart/form-data">
        <div id="registroContenido">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre text" name="nombre" class="text">
            <label for="pswd1">Contraseña</label>
            <input type="password" name="pswd1" id="pswd1" class="text">
            <label for="pswd2">Repite la contraseña</label>
            <input type="password" name="pswd2" id="pswd2" class="text">
            <label for="profileImage">Imagen de perfil</label>
            <input type="file" name="profileImage" class="profileImage" id="profileImage">
        <div id="divBtnReg">
            <button class="btnReg" type="submit">
                Registrar
            </button>
        </div>
        </div>
        <% if(type != '') { %>
            <% if(type === 'warning') {%>
                <div class="alert alert-warning" role="alert"> <%= success %> </div>   
            <% } else if(type === 'success') { %>
                <div class="alert alert-success" role="alert"> <%= success %> </div> 
            <% } %>
        <% } %>
    </form>
    <form action="/" method="get">
        <button id="reg">
            Regresar
        </button>
    </form>
</div>


    <footer id="final">

    </footer>
</body>

</html>